@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

:root {
	--bg: url(../backgrounds/SpaceTime.svg);
}

/* Table stuff */
table {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
}

th {
	height: 30px;
}

td {
	height: 20px;
	vertical-align: middle;
	font-family: "Roboto Mono", monospace;
}

#tableName {
	text-align: center;
	font-family: var(--font-primary);
}

#weekDay {
	text-align: center;
}

#tableValue {
	text-align: right;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	background-color: #ccc;
	opacity: 0.9;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	/* overflow: hidden; */
	transition: max-height 0.2s ease-out;
}

.bodyImage {
	float: left;
}

.flavourText {
	/* float: right; */
	text-align: right;
}

/* Format the flavour text */
td p {
	font-family: var(--font-primary);
}

/* Animation */
#planets-canvas {
	position: relative;
	/* width: 100vmin;
	height: 100vmin; */
	width: 50vw;
	height: 50vw;
	/* width: 100vw;
	height: 100vw; */
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	/* vertical-align: middle; */
	display: block;
	background-color: #222222;
	/* margin: auto; */
}

body {
	background-image: var(--bg);
	background-size: 20vmax;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-attachment: fixed;
	margin: 0 0;
}

h1 {
	text-align: center;
	margin: 4rem auto;
	margin-bottom: 2rem;
	padding: 0 2rem;
}

.intro {
	text-align: justify;
}

.main-navigation::after {
	background-image: var(--bg);
	background-size: 20vmax;
	background-repeat: no-repeat;
	background-position: left bottom;
}

.layout {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 950px) {
	.layout {
		width: 100%;
	}
	#planets-canvas {
		width: 100vw;
		height: 100vw;
	}
}
