@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Roboto:wght@500;700&display=swap");

:root {
  --color-primary: #222222;
  --color-secondary: #e7e7e7;
  --duration: 0.5s;
  --nav-duration: calc(var(--duration) / 2);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-special: "Roboto", sans-serif;
  --font-primary: "Atkinson Hyperlegible", sans-serif;
  --font-heading: "Atkinson Hyperlegible", sans-serif;
  --font-size: 1.125rem;
  --line-height: 1.6;
}

.main-navigation {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    z-index: -1;
    transition: opacity 0.5s;
    opacity: 1;
  }

  &:hover::after {
    opacity: 1;
  }

  ul {
    font-size: 12vmin;
    font-family: var(--font-heading);
    width: 100%;
    list-style-type: none; // Remove bullets
    padding: 0;
  }

  li {
    --border-size: 1vmin;
    align-items: center;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-size);
      background-color: var(--color-secondary);
      transform-origin: 0 50%;
      transform: translateX(-100%) skew(15deg);
      transition: all 0.5s linear 0.1s;
    }
  }

  a {
    display: inline-block;
    margin: 0 10vw;
    color: var(--color-secondary);
    line-height: 1.1;
    transform: translateY(130%);
  }
}

* {
  box-sizing: border-box;
  overflow: hidden; // Make sure translateX doesn't add a scrollbar
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1 {
  margin-bottom: calc(var(--space) * 3);
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) + 6vmin);
  line-height: calc(var(--line-height) / 1.25);
}

// Make sure links don't look ugly
a {
  color: var(--color-primary);
  text-decoration: none;
  user-select: none;
}

// Configure the button to go home
.home-navigation {
  position: fixed;
  --size: calc(10rem + 4vmin);
  display: flex;
  height: calc(var(--size) / 3);

  font-family: var(--font-special);
  font-size: calc(1.5rem + 2vmin);
  font-weight: 700;
  text-align: left;

  overflow: hidden;
  white-space: nowrap;
  top: calc(var(--space) * 1);
  left: calc(var(--space) * 2);
  cursor: pointer;
  z-index: 2;
}

// Configure the button for the about page
.about-navigation {
  position: fixed;
  --size: calc(10rem + 4vmin);
  display: flex;
  height: calc(var(--size) / 3);

  font-family: var(--font-special);
  font-size: calc(1.1rem + 1vmin);
  font-weight: 500;
  text-align: right;

  overflow: hidden;
  white-space: nowrap;
  top: calc(var(--space) * 1.4);
  right: calc(var(--space) * 2);
  cursor: pointer;
  z-index: 2;
}

// Configure the button to open up the menu
.main-navigation-toggle {
  position: fixed;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;

  + label {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 7);
    cursor: pointer;
    z-index: 2;
  }
}

.icon--menu-toggle {
  --size: calc(5rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: calc(var(--size) / 3);
  stroke-width: 0;
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--color-primary);
}

.icon--close {
  stroke: var(--color-secondary);
  transform: translateX(-100%);
  stroke-width: 2;
}

@mixin menu-element($colour) {
  color: $colour;
  text-shadow: 0 0 15px $colour;
  transition: all 0.5s;
}

.menu-element-kairos:hover {
  @include menu-element($colour: #2abc31);
}

.menu-element-arean:hover {
  @include menu-element($colour: #bc642a);
}

.menu-element-pit:hover {
  @include menu-element($colour: #cc75d4);
}

.menu-element-turbine:hover {
  @include menu-element($colour: #1d749c);
}

.main-content {
  margin: 6rem auto;
  padding: 0 calc(var(--space) * 2);
  transform: translateX(0);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);

  > * + * {
    margin-top: calc(var(--space) * var(--line-height));
  }
}

.main-navigation-toggle:checked {
  ~ label .icon--menu-toggle {
    .icon-group {
      transform: translateX(100%);
    }
  }

  ~ .main-content {
    transform: translateX(10%);
  }

  ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);

    &:after {
      animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }

    li:after {
      animation: nav-line var(--duration) var(--ease) forwards;
    }

    a {
      animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }

    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        &:after,
        a {
          animation-delay: calc((var(--duration) / 2) * #{$i} * 0.125);
        }
      }
    }
  }
}

@keyframes nav-bg {
  from {
    transform: translateX(-100%) skewX(-15deg);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes nav-line {
  0% {
    transform: scaleX(0);
    transform-origin: 0 50%;
  }
  35% {
    transform: scaleX(1.001);
    transform-origin: 0 50%;
  }
  65% {
    transform: scaleX(1.001);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}

@keyframes link-appear {
  0%,
  25% {
    transform: translateY(130%);
  }
  50%,
  100% {
    transform: translateY(0);
  }
}
