:root {
    --grey: #222222;
    --white: whitesmoke;
    --orange: coral;
}

body {
    margin: 0;
    background-color: var(--grey);
}

// Configure the color of Alex Adler, Projects, and About
.base-navigation {
    fill: var(--white);
    a {
        color: var(--white);
    }
}

canvas {
    position: absolute;
    background-color: var(--grey);
    width: 100vw;
    height: 100vh;
}
