:root {
  --grey: #222222;
  --white: whitesmoke;
  --orange: coral;
}

body {
  margin: 0;
}

h2 {
  margin: 5vmin 0;
  padding-left: 2vw;
  font-size: 3em;
}

p {
  padding-left: 2vw;
  font-size: 1em;
}

.base-navigation {
  fill: var(--white);
}
.base-navigation a {
  color: var(--white);
}

.parallax {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  scroll-behavior: smooth;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.layer_0 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.layer_-1 {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}

.layer_-2 {
  -webkit-transform: translateZ(-2px) scale(3.1);
  transform: translateZ(-2px) scale(3.1);
}

.layer_-3 {
  -webkit-transform: translateZ(-3px) scale(4);
  transform: translateZ(-3px) scale(4);
}

.layer_-4 {
  -webkit-transform: translateZ(-4px) scale(5);
  transform: translateZ(-4px) scale(5);
}

.parallax_group {
  position: relative;
  min-height: 100vh;
  transform-style: preserve-3d;
}

.credit {
  color: var(--white);
  margin: 0;
  margin-right: 0.5em;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
}

#cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#cover h1 {
  text-align: center;
  margin-top: 10vh;
}

#intro {
  background: var(--grey);
  color: var(--white);
}
#intro a {
  color: var(--white);
}

.mars-map {
  position: absolute;
  bottom: 1rem;
  padding-top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 110vh;
  width: 70vw;
}

.mars-map svg {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.mars-map svg circle {
  stroke: var(--color-primary);
  stroke-width: 3;
  fill: none;
}
.mars-map svg path {
  stroke: var(--color-secondary);
  stroke-width: 3;
  fill: none;
  stroke-dasharray: 30;
  animation: flight-path 5s infinite linear;
}

@keyframes flight-path {
  to {
    stroke-dashoffset: -300;
  }
}
#year-glitch {
  color: var(--white);
  min-width: 1.9em;
}
#year-glitch,
#year-glitch * {
  animation: cray 6s infinite steps(50);
  display: inline-block;
}
@keyframes cray {
  2% {
    font-weight: 400;
    font-style: italic;
    text-decoration: line-through;
    text-transform: none;
  }
  4% {
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  6% {
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  8% {
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  10% {
    font-weight: 100;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  12% {
    font-weight: 500;
    font-style: italic;
    text-decoration: line-through;
    text-transform: none;
  }
  14% {
    font-weight: 300;
    font-style: italic;
    text-decoration: line-through;
    text-transform: none;
  }
  16% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: capitalize;
  }
  18% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: capitalize;
  }
  20% {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-transform: lowercase;
  }
  22% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  24% {
    font-weight: 200;
    font-style: normal;
    text-decoration: underline;
    text-transform: uppercase;
  }
  26% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  28% {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  30% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  32% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  34% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  36% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  38% {
    font-weight: 600;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  40% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  42% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }
  44% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  46% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  48% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  50% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  52% {
    font-weight: 100;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  54% {
    font-weight: 300;
    font-style: italic;
    text-decoration: line-through;
    text-transform: none;
  }
  56% {
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  58% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  60% {
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    text-transform: uppercase;
  }
  62% {
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  64% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
  }
  66% {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  68% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  70% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  72% {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  74% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
  }
  76% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  78% {
    font-weight: 100;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  80% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  82% {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  84% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
  }
  86% {
    font-weight: 300;
    font-style: normal;
    text-decoration: line-through;
    text-transform: none;
  }
  88% {
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  90% {
    font-weight: 200;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
  92% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: uppercase;
  }
  94% {
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
  }
  96% {
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
  }
  98% {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline;
    text-transform: none;
  }
}

.tooltip {
  position: relative;
}
.tooltip::before {
  content: attr(data-tooltip);
  /* here's the magic */
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  /* basic styles */
  width: 10em;
  padding: 0.2em;
  border-radius: 10px;
  background: var(--orange);
  color: var(--grey);
  text-align: center;
  display: none;
  /* hide by default */
}
.tooltip:hover:before {
  display: block;
}

#atmo {
  color: var(--grey);
  background: var(--orange);
}
#atmo p {
  width: calc(95vw - calc(90vh * 0.5625));
}

#ground-effect {
  color: var(--white);
  background: var(--grey);
}
#ground-effect a {
  color: var(--white);
}

#small-plot {
  display: none;
}

#atmo-plot {
  position: absolute;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
  height: 90vh;
  width: calc(90vh * 0.5625);
  background: var(--white);
  background-image: url(plots/big_atmo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#atmo-plot:hover {
  background-image: url(plots/small_atmo.svg);
}

#wip {
  color: var(--grey);
  background: var(--orange);
}

@media screen and (max-width: 950px) {
  .mars-map {
    width: 100%;
    position: relative;
  }

  #intro {
    position: relative;
  }

  #atmo {
    position: relative;
  }
  #atmo p {
    width: 100%;
  }
  #atmo #atmo-plot {
    position: relative;
    height: calc(98vw / 0.5625);
    width: 98vw;
    margin: auto;
    right: auto;
    top: 0;
    transform: none;
  }

  h2 {
    margin: 0;
  }

  p {
    text-align: justify;
  }
}

/*# sourceMappingURL=arean_freight.css.map */
