@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

:root {
	--bg: url(SpaceTime.svg);
}

/* Table stuff */
table {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;

	background: #ffffff80;
}

th {
	height: 30px;
}

td {
	height: 20px;
	vertical-align: middle;
	font-family: "Roboto Mono", monospace;
}

#tableName {
	text-align: center;
	font-family: var(--font-primary);
}

#weekDay {
	text-align: center;
}

#tableValue {
	text-align: right;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	background-color: #ccc;
	opacity: 0.9;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	max-height: 0;
	/* overflow: hidden; */
	transition: max-height 0.2s ease-out;
}

.bodyImage {
	float: left;
}

.flavourText {
	/* float: right; */
	text-align: right;
}

/* Format the flavour text */
td p {
	font-family: var(--font-primary);
}

.left button {
	float: right;
}

/* Format buttons under the table */
button.date-selector-buttons {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #222222;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #222222;
	text-align: center;
	transition: all 0.2s;
	background-color: #ffffff60;
}

button.date-selector-buttons:hover {
	color: #ffffff;
	background-color: #222222;
}

@media all and (max-width: 30em) {
	button.date-selector-buttons {
		display: block;
		width: 98%;
		font-size: 1em;
		margin: 0.1em 1%;
	}
}

/* Controls */
.controls {
	width: 100%;
	height: 3rem;
	background: #222222;
	overflow: hidden;
}

.playpause {
	padding: 0.5rem 0.5rem;
	float: left;
}

.button {
	width: 2rem;
	height: 2rem;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1rem 0px 1rem 2rem;
	border-color: transparent transparent transparent #c4c4c4;
	transition: all 100ms;
	cursor: pointer;
}

.button:hover {
	border-color: transparent transparent transparent white;
}

.pause {
	border-style: double;
	border-width: 0px 0px 0px 1.5rem;
}

.slider {
	margin-top: 1rem;
	float: left;
	-webkit-appearance: none;
	width: calc(100% - 21rem);
	height: 1rem;
	background: #ffffff6b;
	outline: none;
	opacity: 1;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	cursor: pointer;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 0.5rem;
	height: 2rem;
	background: white;
	cursor: pointer;
	border-radius: 0%;
}

.slider::-moz-range-thumb {
	width: 0.5rem;
	height: 2rem;
	background: white;
	cursor: pointer;
	border-radius: 0%;
}

#speed-buttons {
	width: calc(15vmin + 5rem);
	padding: 0.5rem 0 0 0;
	float: left;
	display: none;
}

#speed-buttons svg:hover path {
	fill: #ffffff;
	cursor: pointer;
}

#fast-rewind,
#fast-forward {
	width: 5vmin;
}

#rewind,
#forward {
	width: 2.5vmin;
}

.controls button {
	height: 2rem;
	color: white;
	background: #222222;
	border: 0;
	cursor: pointer;

	font-size: var(--font-size);
}

.change-input {
	margin: 0.5rem 0.5rem 0 0;
	float: left;
}

.reset-multiplier {
	margin: 0 0;
	float: right;
}

#speedText {
	padding: 0.5rem 0 0 0;
	margin: 0 0;
	float: right;
	color: white;
}

/* Animation */
#planets-canvas {
	position: relative;
	width: 50vw;
	height: 59vh;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #222222;
}

body {
	background-image: var(--bg);
	background-size: 20vmax;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-attachment: fixed;
	margin: 0 0;
}

h1 {
	text-align: center;
	margin: 4rem auto;
	margin-bottom: 2rem;
	padding: 0 2rem;
}

.intro {
	text-align: justify;
}

.main-navigation::after {
	background-image: var(--bg);
	background-size: 20vmax;
	background-repeat: no-repeat;
	background-position: left bottom;
}

.layout {
	float: left;
	width: 50%;
}

.right:fullscreen {
	background: #222222;
}

.right:fullscreen > #planets-canvas {
	width: 100vmin;
	height: 100vmin;
	/* background: violet; */

	padding: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.right:fullscreen > .controls {
	opacity: 0.5;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 950px) {
	.layout {
		width: 100%;
	}
	#planets-canvas {
		width: 100vw;
		height: 100vw;
	}
}
