h1 {
	text-align: center;
	margin: 10rem auto;
	margin-bottom: 2rem;
	padding: 0 2rem;
}

p {
	text-align: center;
}

.drop-down {
	text-align: center;
}

table {
	width: 80vw;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
}

th {
	height: 30px;
}

td {
	height: 20px;
	vertical-align: middle;
	font-family: "Roboto Mono", monospace;
	text-align: center;
}

canvas {
	width: 100vmin;
	height: 100vmin;
	background: #222222;

	padding: 0;
	margin: auto;
	display: block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
